{% extends 'investimentos/base.html' %}
{%load meus_filtros%}

{% block title%}
    cadastrar-investimento
{%endblock%}

{%block content%}
    <form method="POST">
        {%csrf_token%}
        <div class="form-group">
            {{form.nome_investimento.errors}}
            <label for="">Investimento: </label>
            {{form.nome_investimento | addclass:'form-control'}}
        </div>
        <div class="form-group">
            {{form.valor.errors}}
            <label for="">Valor: </label>
            {{form.valor | addclass:'form-control'}}
        </div>
        <div class="form-group">
            {{form.fonte.errors}}
            <label for="">Fonte: </label>
            {{form.fonte | addclass:'form-control'}}
        </div>
        <div class="form-group">
            {{form.data.errors}}
            <label for="">Data: </label>
            {{form.data | addclass:'form-control'}}
        </div>
        <div class="form-group">
            {{form.lucro_mensal.errors}}
            <label for="">Lucro mensal: </label>
            {{form.lucro_mensal | addclass:'form-control'}}
        </div>
        <div class="form-group">
            {{form.lucro_anual.errors}}
            <label for="">Lucro anual: </label>
            {{form.lucro_anual | addclass:'form-control'}}
        </div>
        <div class="form-group">
            <a href="{% url 'listar_investimentos' %}" class="btn btn-secondary">Voltar</a>
            <input type="submit" value="Cadastrar" class="btn btn-primary">
        </div>
    </form>
{%endblock%}