{% extends 'investimentos/base.html' %}

{% block title%}
{{investimento.nome_investimento}}
{% endblock %}

{%block content%}
<div class="card text-white bg-danger mb-3">
    <div class="card-header">
        <h3>Deseja remover da lista o investimento abaixo?</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Investimento: {{investimento.nome_investimento}}</h5>
        <h5 class="card-title">Valor: {{investimento.valor}}</h5>
        <h5 class="card-title">Fonte: {{investimento.fonte}}</h5>
        <h5 class="card-title">Data: {{investimento.data}}</h5>
        <h5 class="card-title">Lucro mensal: {{investimento.lucro_mensal}}</h5>
        <h5 class="card-title">Lucro anual: {{investimento.lucro_anual}}</h5>
    </div>
</div>



<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Remover</button>
        <a href="{% url 'listar_investimentos' %}" class="btn btn-primary">Voltar</a>
    </div>
</form>

{% endblock %}